@media (min-width: 0px){
	html {
		font-size: 13px;
	}
}

@media (min-width: 240px){
	html {
		font-size: 15px;
	}
}
@media (min-width: 300px){
	html {
		font-size: 18px;
	}
}



:root {
	--menuBarHeight: 3rem;
	--menuFooterHeight: 1.5rem;
	--menuColumnWidth: 13rem;
	--menuColumnWidth-n: -13rem;
	
	--color-background: gray;
	
	--color-highlight: lightblue;
	--color-highlight-font: white;
	--color-superHighlight: #FFD700;
	
	--color-base: white;
	--color-base-subtle: lightgray;
	--color-base-font: black;
	--color-base-font-subtle: gray;
	
	--color-link-font: blue;
	--color-link-font-active: green;
}


.app-main {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	background-color: var(--color-background);
	
	overflow: hidden;
}


.App {
  text-align: center;
}



.btn {
	padding: 0 0.75rem !important;
	line-height: 1 !important;
}

.form-control {
	line-height: 1 !important;
}

.menu-btn {
	padding-left: 1em;
	transition: all 0.2s ease;
}

.menu-btn:hover {
	padding-left: 1.5em;
	background-color: var(--color-base-subtle);
}

.menu-btn-active {
	padding-left: 1.5em;
	background-color: var(--color-highlight) !important;
}

.card-num {
	display: inline-block;
	float: left;
	font-weight: bold;
	font-size: 2em;
	
	margin-right: 0.5em;
}

.card-space {
	height: 1em;
}

.end-space {
	margin-bottom: 1em;
}


.btn-word-wrap {
    white-space: normal !important;
    word-break: normal;
}

.imgHiderBackground {
	text-align: center;
}
.imgHider {
    -webkit-clip-path: inset(0 0 4% 0);
    clip-path: inset(0 0 4% 0);
}

.fill {
	width: 100%;
	height: 100%;
}

.hideOverflow{
	overflow: hidden;
}

.clickable {
	cursor: pointer;
}

.inline {
	display: inline-block;
}

.fullscreen {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.fullWidth {
	width: 100%;
	height: auto;
}

.fullHeight {
	height: 100%;
	width: auto;
}

.vote {
	transition: all 0.3s ease;
}

.vote-chosen {
	transform: scale(1.5);
	color: var(--color-highlight);
}

.vote-veryChosen {
	transform: scale(3) translate(0, -0.2em);
	color: var(--color-superHighlight);
	text-shadow: 0.5px 0.5px black;
}

.vote-animation-bounce {
	animation-name: kf-bounce;
	animation-duration: 0.4s;
}

.vote-animation-wiggle {
	animation-name: kf-wiggle;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

@keyframes kf-bounce {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, -1em);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes kf-wiggle {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}

.stickLeft {
	position: absolute;
	left: 0;
}

.stickRight {
	position: absolute;
	right: 0;
}

.stickMiddleRight{
	position: absolute;
	left: 70%;
}

.containLeft {
	position: relative;
	float: left;
	width: 70%
}

.containRest {
	position: relative;
	float: left;
	width: 30%;
}

.containRight {
	position: relative;
	float: right;
	width: 70%;
}
.scoring-guess {
	padding-bottom: 0.2em;
}
.scoring-title {
	position: absolute;
	bottom: -1em;
	right: 0;
	color: var(--color-base-font-subtle);
}

.card-clickable {
	transition: background-color 0.2s ease;
}

.card-clickable:hover {
	background-color: var(--color-base-subtle);
}

.link {
	color: var(--color-link-font);
	cursor: pointer;
}

.link:hover {
	color: var(--color-link-font-active);
	text-decoration: underline;
}

.dramaTiny {
	font-size: 0.5em;
}
