.container {
    position: relative;
}

.dynamicImg {
    width: 100%;
}

.bottom-right {
    position: absolute;
    bottom: -5px;
    right: 0px;
    top: 95%;
    left: 57%;
    background-color: white;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

