.appMenu-bar {
	z-index: 103;
	position: absolute;
	top: 0;
	width: 100%;
	height: var(--menuBarHeight);
	
	background-color: var(--color-highlight);
}

.appMenu-footer {
	z-index: 103;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--menuFooterHeight);
	
	background-color: var(--color-highlight);
}

.appMenu-bar-shadow {
	z-index: 101;
	position: absolute;
	left: 0;
	top: var(--menuBarHeight);
	width: 100%;
	height: 5px;
	
	pointer-events: none;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
}

.appMenu-menuButton {
	position: absolute;
	left: 0;
}

.appMenu-name {
	max-width: calc(100% - 8em);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	bottom: 0;
	right: 4em;
	
	transition: color 0.1s ease;
}

.appMenu-name:hover {
	color: var(--color-highlight-font);
}
.appMenu-nameChange {
	text-align: center;
	z-index: 100;
	position: absolute;
	top: -5em;
	right: 4em;
	
	background-color: var(--color-highlight);
	transition: top 0.5s ease;
}

.appMenu-nameChange-active {
	top: var(--menuBarHeight);
}

.appMenu-chatButton {
	position: absolute;
	right: 0;
}

.appMenu-button span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 1.5em;
	color: white;
	transform: scaleX(-1);
	font-size: 0.6em;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.appMenu-button:hover span {
	color: black;
}

.appMenu-button {
	font-size: 2em;
	text-align: center;
	height: 100%;
	width: 2em;
	
	transition: color 0.1s ease;
}
.appMenu-button:hover {
	color: var(--color-highlight-font);
}

.appMenu-title {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.appMenu-menu {
	font-size: 2em;
	z-index: 100;
	position: absolute;
	top:0;
	bottom: 0;
	left: var(--menuColumnWidth-n);
	width: var(--menuColumnWidth);
	margin-top: var(--menuBarHeight);
	
	transition: left 0.5s ease;
	
	background-color: var(--color-base);
}

.appMenu-menu-active {
	left: 0;
}

.appMenu-chat {
	z-index: 100;
	position: absolute;
	top: 0;
	bottom: 0;
	right: var(--menuColumnWidth-n);
	width: var(--menuColumnWidth);
	margin-top: var(--menuBarHeight);
	margin-bottom: var(--menuFooterHeight);
	
	transition: right 0.5s ease;
	
	background-color: var(--color-base);
}

.appMenu-chat-active {
	right: 0;
}

.appMenu-chatFeed-topSpace{
	height: calc(100% - 6.3em);
}

.appMenu-chatFeed {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 1em;
}

.appMenu-chatFeed-seeNewButton {
	transition: all 0.5s ease;
	transition-property: bottom, opacity;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0em;
	height: 1em;
	opacity: 0;
}

.appMenu-chatFeed-seeNewButton-active {
	bottom:1em;
	opacity: 0.75;
}

.appMenu-message-body {
	flex: 1 1;
	padding: 0.5em;
}
.appMenu-chatInput {
	position: absolute;
	bottom: 1em;
	height: 1em;
}

.appMenu-message-header {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--color-base-font-subtle);
	font-size: 0.9em;
}

