
.timer-container {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: black;
	background-color: rgba(0,0,0,0.5);
	width: 3em;
	padding: 0.5em;
	border-radius: 0.5em;
	color: white;
	text-align: center;
}